html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

body { line-height: 1.5em; font-family: "microsoft yahei"; font-size: 14px; color: #333; }

ul { margin: 0; padding: 0; list-style: none; }

a { text-decoration: none; }

h1, h2, h3, h4, h5, h6, p { margin: 0; font-weight: normal; }

.mt10 { margin-top: 10px; }

.mt15 { margin-top: 15px; }

.mr10 { margin-right: 10px; }

.mr15 { margin-right: 15px; }

.mb10 { margin-bottom: 10px; }

.mb15 { margin-bottom: 15px; }

.ml10 { margin-left: 10px; }

.ml15 { margin-left: 15px; }

.mt20 { margin-top: 10px; }

.mt25 { margin-top: 15px; }

.mr20 { margin-right: 10px; }

.mr25 { margin-right: 15px; }

.mb20 { margin-bottom: 10px; }

.mb25 { margin-bottom: 15px; }

.ml20 { margin-left: 10px; }

.ml25 { margin-left: 15px; }

.mt30 { margin-top: 10px; }

.mt35 { margin-top: 15px; }

.mr30 { margin-right: 10px; }

.mr35 { margin-right: 15px; }

.mb30 { margin-bottom: 10px; }

.mb35 { margin-bottom: 15px; }

.ml30 { margin-left: 10px; }

.ml35 { margin-left: 15px; }

.mt40 { margin-top: 10px; }

.mt45 { margin-top: 15px; }

.mr40 { margin-right: 10px; }

.mr45 { margin-right: 15px; }

.mb40 { margin-bottom: 10px; }

.mb45 { margin-bottom: 15px; }

.ml40 { margin-left: 10px; }

.ml45 { margin-left: 15px; }

.mt50 { margin-top: 10px; }

.mt55 { margin-top: 15px; }

.mr50 { margin-right: 10px; }

.mr55 { margin-right: 15px; }

.mb50 { margin-bottom: 10px; }

.mb55 { margin-bottom: 15px; }

.ml50 { margin-left: 10px; }

.ml55 { margin-left: 15px; }

[class^="icon-"], [class*=" icon-"] { display: inline-block; background-image: url("../images/icon.png"); background-repeat: no-repeat; overflow: hidden; }

.l { float: left; }

.r { float: right; }

.text-center { text-align: center; }

.container { margin: 0 auto; width: 1170px; }
@media screen and (max-width: 1170px) { .container { width: 100%; } }

.icon-server-1, .icon-server-2, .icon-server-3, .icon-server-4 { width: 85px; height: 75px; }

.icon-server-2 { background-position: -109px 0; }

.icon-server-3 { background-position: 0 -93px; }

.icon-server-4 { background-position: -109px -93px; }

.icon-step-1, .icon-step-2, .icon-step-3, .icon-step-4, .icon-step-5, .icon-step-6 { width: 83px; height: 83px; background-position: 0 -360px; }

.icon-step-2 { background-position: -106px -360px; }

.icon-step-3 { background-position: -208px -360px; }

.icon-step-4 { background-position: 0 -462px; }

.icon-step-5 { background-position: -106px -462px; }

.icon-step-6 { background-position: -208px -462px; }

.icon-logo { width: 130px; height: 140px; background-position: -14px -208px; }

.btn { display: inline-block; border-radius: 20px; width: 170px; line-height: 40px; font-size: 16px; text-align: center; color: #fff; background-color: #70b94c; }
.btn:hover { background-color: #59973b; }

.header { *zoom: 1; padding: 15px 0; }
.header:after, .header:before { content: ""; display: table; }
.header:after { clear: both; overflow: hidden; }
.header .logo { display: block; width: 171px; height: 45px; }
.header .logo img { width: 100%; }
@media screen and (max-width: 800px) { .header { position: relative; padding: 10px; }
  .header .logo { width: 150px; height: 40px; } }

.collapse { position: relative; }
.collapse .touch { display: none; }
.collapse .timber { position: absolute; left: 60px; bottom: -8px; width: 32px; height: 6px; border-radius: 3px; transition: left .5s ease-out; background-color: #70b94c; }
@media screen and (max-width: 800px) { .collapse { margin-top: 15px; }
  .collapse .touch { position: relative; display: block; border: #555 solid; border-width: 2px 0; width: 22px; height: 10px; }
  .collapse .touch:after { position: absolute; top: 4px; width: 100%; height: 2px; content: ''; background-color: #555; }
  .collapse .timber { display: none; } }

.nav { *zoom: 1; margin-top: 14px; }
.nav:after, .nav:before { content: ""; display: table; }
.nav:after { clear: both; overflow: hidden; }
.nav li { float: left; margin-left: 60px; }
.nav li a { position: relative; font-size: 16px; color: #000; }
.nav li a:hover { color: #70b94c; }
.nav li.active a { color: #70b94c; }
@media screen and (max-width: 800px) { .nav { display: none; position: absolute; top: 35px; right: -10px; z-index: 100; margin-top: 0; border-top: #eee solid 1px; background-color: rgba(255, 255, 255, 0.8); }
  .nav li { width: 100%; margin-left: 0; padding: 10px 0; }
  .nav li a { display: block; text-align: center; }
  .nav li.active a { color: #70b94c; }
  .nav li.active a:after { position: absolute; content: ''; bottom: -7px; left: 50%; margin-left: -3px; border-radius: 50%; width: 6px; height: 6px; background-color: #70b94c; } }

.carousel { position: relative; width: 100%; height: 734px; }
.carousel .item { position: absolute; left: 0; display: none; width: 100%; height: 734px; }
.carousel .item.active { display: block; }
.carousel .banner-1 { background: url("../images/banner-1_bg.jpg") no-repeat center; }
.carousel .banner-2 { background: url("../images/banner-2_bg.jpg") no-repeat center; }
.carousel .dot { *zoom: 1; position: absolute; z-index: 2; left: 50%; bottom: 20px; margin-left: -20px; }
.carousel .dot:after, .carousel .dot:before { content: ""; display: table; }
.carousel .dot:after { clear: both; overflow: hidden; }
.carousel .dot a { float: left; display: block; margin: 0 5px; border-radius: 50%; width: 10px; height: 10px; background-color: #fff; }
.carousel .dot a.active { background-color: #82d049; }
@media screen and (max-width: 800px) { .carousel { height: 310px; }
  .carousel .item { height: 310px; background-size: 150%; } }
@media screen and (max-width: 600px) { .carousel .item { background-size: 340%; } }

.whole .hd { text-align: center; }
.whole .hd h1 { padding: 25px 0; font-size: 28px; line-height: 1.5em; }
.whole .hd p { padding: 0 15px 25px; color: #999; }
.whole.bt { margin-top: 40px; border-top: #e7e7e7 solid 1px; }
@media screen and (max-width: 800px) { .whole.bt { margin: 0 15px; } }

.floor-1, .floor-2, .floor-4, .floor-5 { padding: 20px 0 50px; }
@media screen and (max-width: 800px) { .floor-1, .floor-2, .floor-4, .floor-5 { padding: 0; } }

.server-list { *zoom: 1; }
.server-list:after, .server-list:before { content: ""; display: table; }
.server-list:after { clear: both; overflow: hidden; }
.server-list li { float: left; padding-left: 87px; width: 205px; }
.server-list li h2 { padding: 20px 0 15px; font-size: 16px; }
.server-list li p { padding-bottom: 15px; color: #999; }
@media screen and (max-width: 800px) { .server-list li { padding: 0 0 30px; width: 50%; text-align: center; } }

.floor-2 { background-color: #f7f7f7; }
.floor-2.white { background-color: #fff; }

.case-list { *zoom: 1; }
.case-list:after, .case-list:before { content: ""; display: table; }
.case-list:after { clear: both; overflow: hidden; }
.case-list li { float: left; padding-bottom: 18px; width: 33.3%; text-align: center; }
.case-list li a { display: inline-block; overflow: hidden; }
.case-list li a img { width: 100%; vertical-align: middle; transition: transform .2s ease-out; }
.case-list li a:hover img { transform: scale(1.1); }
@media screen and (max-width: 800px) { .case-list li { width: 100%; padding-bottom: 4px; } }

.floor-3 { height: 500px; text-align: center; background: url("../images/floor-3_bg.jpg") no-repeat center; }
.floor-3 i { margin: 80px 0 30px; }
.floor-3 p { padding: 0 160px 40px; line-height: 25px; color: #fff; }
@media screen and (max-width: 800px) { .floor-3 i { margin-top: 30px; }
  .floor-3 p { padding: 0 15px 25px; } }

.floor-4 { background-color: #7ec14c; color: #fff; }

.step-list { *zoom: 1; }
.step-list:after, .step-list:before { content: ""; display: table; }
.step-list:after { clear: both; overflow: hidden; }
.step-list li { float: left; padding-bottom: 20px; width: 16.6%; text-align: center; }
@media screen and (max-width: 800px) { .step-list li { width: 33.3%; } }
@media screen and (max-width: 600px) { .step-list li { width: 50%; } }

.floor-5 .whole .hd p { padding: 0 80px 25px; }
@media screen and (max-width: 800px) { .floor-5 .whole .hd p { padding: 0 15px 25px; } }

.team-list { *zoom: 1; }
.team-list:after, .team-list:before { content: ""; display: table; }
.team-list:after { clear: both; overflow: hidden; }
.team-list li { float: left; }
.team-list li a { display: block; margin-top: 2px; }
.team-list li a img { width: 100%; vertical-align: middle; }
.team-list li.center { padding: 0 2px; }
@media screen and (max-width: 800px) { .team-list li { width: 100%; }
  .team-list li.center { padding: 0; } }

.footer { padding: 30px 0 40px; background-color: #f4f4f4; }
.footer .top { *zoom: 1; padding-left: 190px; font-size: 16px; }
.footer .top:after, .footer .top:before { content: ""; display: table; }
.footer .top:after { clear: both; overflow: hidden; }
.footer .top h2 { padding-bottom: 20px; font-size: 20px; color: #70b94c; }
.footer .top p { padding-right: 40px; padding-bottom: 20px; color: #333; -webkit-appearance: none; }
.footer .bottom { margin-top: 40px; font-size: 12px; text-align: center; }
.footer .qrcode { padding-bottom: 10px; width: 120px; height: 120px; }
.footer .qrcode img { width: 120px; }
@media screen and (max-width: 800px) { .footer .top { padding-left: 0; text-align: center; }
  .footer .top p { padding-right: 0; }
  .footer div.l { margin: 0; width: 100%; } }

.solve-list { *zoom: 1; margin-left: -150px; }
.solve-list:after, .solve-list:before { content: ""; display: table; }
.solve-list:after { clear: both; overflow: hidden; }
.solve-list li { float: left; margin-bottom: 40px; width: 33.3%; text-align: center; }
.solve-list li a { display: inline-block; border-radius: 50%; overflow: hidden; }
.solve-list li a img { width: 100%; vertical-align: middle; transition: transform .2s ease-out; }
.solve-list li a:hover img { transform: scale(1.1); }
.solve-list li h2 { padding: 10px 0 5px; font-size: 16px; }
.solve-list li p { font-size: 12px; color: #999; }
.solve-list .shell { padding-left: 150px; }
@media screen and (max-width: 800px) { .solve-list li { width: 100%; }
  .solve-list .shell { display: inline-block; width: 280px; } }

/*# sourceMappingURL=main.css.map */
