.container {
    margin: 0 auto;
    width: 1170px;
    @media screen and (max-width: 1170px) {
        width: 100%;
    }
}

// icon
.icon-server-1{
    width: 85px;
    height: 75px;
}
.icon-server-2{
    @extend .icon-server-1;
    background-position: -109px 0;
}
.icon-server-3{
    @extend .icon-server-1;
    background-position: 0 -93px;
}
.icon-server-4{
    @extend .icon-server-1;
    background-position: -109px -93px;
}

.icon-step-1{
    width: 83px;
    height: 83px;
    background-position: 0 -360px;
}
.icon-step-2{
    @extend .icon-step-1;
    background-position: -106px -360px;
}
.icon-step-3{
    @extend .icon-step-1;
    background-position: -208px -360px;
}
.icon-step-4{
    @extend .icon-step-1;
    background-position: 0 -462px;
}
.icon-step-5{
    @extend .icon-step-1;
    background-position: -106px -462px;
}
.icon-step-6{
    @extend .icon-step-1;
    background-position: -208px -462px;
}
.icon-logo{
    width: 130px;
    height: 140px;
    background-position: -14px -208px;
}

.icon-about-1{
    width: 70px;
    height: 70px;
    background-position: -8px -572px;
}
.icon-about-2{
    @extend .icon-about-1;
    background-position: -110px -572px;
}
.icon-about-3{
    @extend .icon-about-1;
    background-position: -213px -572px;
}

.btn {
    display: inline-block;
    border-radius: 20px;
    width: 170px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: $theme-color;
    &:hover{
        background-color: darken($theme-color, 10%);
    }
}

.header {
    @include clearfix;
    padding: 15px 0;
    .logo {
        display: block;
        width: 171px;
        height: 45px;
        img{
          width: 100%;
        }
    }
    &.borb{
        border-bottom: #eaeaea solid 1px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    }
    @media screen and (max-width: 800px){
        position: relative;
        padding: 10px;
        .logo{
            width: 150px;
            height: 40px;
        }
    }
}

.collapse {
    position: relative;
    .touch {
        display: none;
    }
    .timber{
        position: absolute;
        left: 60px;
        bottom: -8px;
        width: 32px;
        height: 6px;
        border-radius: 3px;
        transition: left .5s ease-out;
        background-color: $theme-color;
    }
    @media screen and (max-width: 800px){
        margin-top: 15px;
        .touch{
            position: relative;
            display: block;
            border: #555 solid;
            border-width: 2px 0;
            width: 22px;
            height: 10px;
            &:after{
                position: absolute;
                top: 4px;
                width: 100%;
                height: 2px;
                content: '';
                background-color: #555;
            }
        }
        .timber{
            display: none;
        }
    }
}

.nav {
    @include clearfix;
    margin-top: 14px;
    li {
        float: left;
        margin-left: 60px;
        a {
            position: relative;
            font-size: 16px;
            color: #000;
            &:hover{
                color: $theme-color;
            }
        }
        &.active {
            a {
                color: $theme-color;
            }
        }
    }
    @media screen and (max-width: 800px){
        display: none;
        position: absolute;
        top: 35px;
        right: -10px;
        z-index: 100;
        margin-top: 0;
        border-top: #eee solid 1px;
        background-color: rgba(255, 255, 255, .8);
        li{
            width: 100%;
            margin-left: 0;
            padding: 10px 0;
            a{
                display: block;
                text-align: center;
            }
            &.active {
                a {
                    color: $theme-color;
                    &:after {
                        position: absolute;
                        content: '';
                        bottom: -7px;
                        left: 50%;
                        margin-left: -3px;
                        border-radius: 50%;
                        width: 6px;
                        height: 6px;
                        background-color: $theme-color;
                    }
                }
            }
        }
    }
}

.carousel {
    position: relative;
    width: 100%;
    height: 734px;
    .item {
        position: absolute;
        left: 0;
        display: none;
        width: 100%;
        height: 734px;
        &.active{
            display: block;
        }
    }
    .banner-1{
        background: url("../images/banner-1_bg.jpg") no-repeat center;
    }
    .banner-2{
        background: url("../images/banner-2_bg.jpg") no-repeat center;
    }
    .dot{
        @include clearfix;
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 20px;
        margin-left: -20px;
        a{
            float: left;
            display: block;
            margin: 0 5px;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: #fff;
            &.active{
                background-color: #82d049;
            }
        }
    }
    @media screen and (max-width: 800px) {
        height: 310px;
        .item {
            height: 310px;
            background-size: 150%;
        }
    }
    @media screen and (max-width: 600px) {
        .item {
            background-size: 340%;
        }
    }
}

.whole {
    .hd {
        text-align: center;
        h1 {
            padding: 25px 0;
            font-size: 28px;
            line-height: 1.5em;
        }
        p {
            padding: 0 15px 25px;
            color: #999;
        }
    }
    &.bt{
        border-top: #e7e7e7 solid 1px;
        @media screen and (max-width: 800px) {
            margin: 0 15px;
        }
    }
}
.floor-1{
    padding: 20px 0 50px;
    @media screen and (max-width: 800px){
        padding: 0;
    }
}
.server-banner{
    width: 100%;
    height: 524px;
    background: url("../images/server-banner_bg.jpg") no-repeat center;
    @media screen and (max-width: 800px){
        height: 200px;
        background-size: 170%;
    }
    @media screen and (max-width: 600px){
        background-size: 310%;
    }
}
.server-list {
    @include clearfix;
    li{
        float: left;
        padding-left: 87px;
        width: 205px;
        h2{
            padding: 20px 0 15px;
            font-size: 16px;
        }
        p{
            padding-bottom: 15px;
            color: #999;
        }
    }
    @media screen and (max-width: 800px){
        li{
            padding: 0 0 30px;
            width: 50%;
            text-align: center;
        }
    }
}
.floor-2{
    @extend .floor-1;
    background-color: #f7f7f7;
    &.white{
        background-color: #fff;
    }
}
.case-list{
    @include clearfix;
    li{
        float: left;
        padding-bottom: 18px;
        width: 33.3%;
        text-align: center;
        a{
            display: inline-block;
            overflow: hidden;
            img{
                width: 100%;
                vertical-align: middle;
                transition: transform .2s ease-out;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
    @media screen and (max-width: 800px){
        li{
            width: 100%;
            padding-bottom: 4px;
        }
    }
}
.floor-3{
    height: 500px;
    text-align: center;
    background: url("../images/floor-3_bg.jpg") no-repeat center;
    i{
        margin: 80px 0 30px;
    }
    p{
        padding: 0 160px 40px;
        line-height: 25px;
        color: #fff;
    }
    @media screen and (max-width: 800px){
        i{
            margin-top: 30px;
        }
        p{
            padding: 0 15px 25px;
        }
    }
}
.floor-4{
    @extend .floor-1;
    background-color: #7ec14c;
    color: #fff;
}
.step-list{
    @include clearfix;
    li{
        float: left;
        padding-bottom: 20px;
        width: 16.6%;
        text-align: center;
    }
    @media screen and (max-width: 800px){
        li{
            width: 33.3%;
        }
    }
    @media screen and (max-width: 600px){
        li{
            width: 50%;
        }
    }
}
.floor-5{
    @extend .floor-1;
    .whole{
        .hd{
            p{
                padding: 0 80px 25px;
            }
        }
    }
    @media screen and (max-width: 800px){
        .whole{
            .hd{
                p{
                    padding: 0 15px 25px;
                }
            }
        }
    }
}
.team-list{
    @include clearfix;
    li{
        float: left;
        a{
            display: block;
            margin-top: 2px;
            img{
                width: 100%;
                vertical-align: middle;
            }
        }
        &.center{
            padding: 0 2px;
        }
    }
    @media screen and (max-width: 800px){
        li{
            width: 100%;
            &.center{
                padding: 0;
            }
        }
    }
}
.footer{
    padding: 30px 0 40px;
    background-color: #f4f4f4;
    .top{
        @include clearfix;
        padding-left: 190px;
        font-size: 16px;
        h2{
            padding-bottom: 20px;
            font-size: 20px;
            color: $theme-color;
        }
        p{
            padding-right: 40px;
            padding-bottom: 20px;
            color: #333;
            -webkit-appearance: none;
        }
    }
    .bottom{
        margin-top: 40px;
        font-size: 12px;
        text-align: center;
    }
    .qrcode{
        padding-bottom: 10px;
        width: 120px;
        height: 120px;
        img{
            width: 120px;
        }
    }
    @media screen and (max-width: 800px) {
        .top{
            padding-left: 0;
            text-align: center;
            p{
                padding-right: 0;
            }
        }
        div.l{
            margin: 0;
            width: 100%;
        }
    }
}
.solve-list{
    @include clearfix;
    margin-left: -150px;
    li{
        float: left;
        margin-bottom: 40px;
        width: 33.3%;
        text-align: center;
        a{
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
                vertical-align: middle;
                transition: transform .2s ease-out;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
        h2{
            padding: 10px 0 5px;
            font-size: 16px;
        }
        p{
            font-size: 12px;
            color: #999;
        }
    }
    .shell{
        padding-left: 150px;
    }
    @media screen and (max-width: 800px) {
        li{
            width: 100%;
        }
        .shell{
            display: inline-block;
            width: 280px;
        }
    }
}
.example-banner{
    @extend .server-banner;
    background-image: url("../images/example-banner_bg.jpg");
}
.example-nav{
    border-bottom: #e9e9e9 solid 1px;
    width: 100%;
    text-align: center;
    li{
        display: inline-block;
        padding: 0 20px 5px;
        a{
            color: #333;
            &:hover{
                color: $theme-color;
            }
            &.active{
                position: relative;
                color: $theme-color;
                &:after{
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -6px;
                    height: 4px;
                    content: '';
                    background-color: $theme-color;
                }
            }
        }
    }
    @media screen and (max-width: 800px){
        border-bottom: 0;
        ul{
            @include clearfix;
            box-sizing: border-box;
            margin: 20px auto 0;
            padding: 0 10px;
            max-width: 370px;
        }
        li{
            box-sizing: border-box;
            float: left;
            padding: 5px 10px;
            width: 50%;
            line-height: 40px;
            text-align: center;
            a{
                display: block;
                border: #e9e9e9 solid 1px;
                border-radius: 3px;
                &.active{
                    border-color: $theme-color;
                    color: #fff;
                    background-color: $theme-color;
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
}
.example-list{
    @include clearfix;
    position: relative;
    margin-left: -30px;
    li{
        float: left;
        margin-top: 40px;
        width: 33.3%;
    }
    .shell{
        padding-left: 30px;
        a{
            display: block;
            overflow: hidden;
            img{
                width: 100%;
                vertical-align: middle;
                transition: transform .2s ease-out;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
        h2{
            padding: 10px 0 5px;
            font-size: 16px;
        }
        p{
            font-size: 12px;
            color: #999;
        }
    }
    @media screen and (max-width: 800px){
        margin-bottom: 30px;
        li{
            margin-top: 25px;
            width: 100%;
            text-align: center;
        }
        .shell{
            a{
                display: inline-block;
                img{
                    max-width: 370px;
                }
            }
            h2,
            p{
                margin: 0 auto;
                max-width: 370px;
                padding-left: 10px;
                text-align: left;
            }
            h2{
                padding-top: 5px;
            }
        }
    }
}
.content-banner-001{
    @extend .server-banner;
    background-image: url("../images/content/001/bg.jpg");
}
.content-banner-002{
    @extend .server-banner;
    background-image: url("../images/content/002/bg.jpg");
}
.content-banner-003{
    @extend .server-banner;
    background-image: url("../images/content/003/bg.jpg");
}
.content-banner-004{
    @extend .server-banner;
    background-image: url("../images/content/004/bg.jpg");
}
.content-banner-005{
    @extend .server-banner;
    background-image: url("../images/content/005/bg.jpg");
}
.content-banner-006{
    @extend .server-banner;
    background-image: url("../images/content/006/bg.jpg");
}
.content-banner-007{
    @extend .server-banner;
    background-image: url("../images/content/007/bg.jpg");
}
.content-banner-008{
    @extend .server-banner;
    background-image: url("../images/content/008/bg.jpg");
}
.content-banner-009{
    @extend .server-banner;
    background-image: url("../images/content/009/bg.jpg");
}
.content-banner-010{
    @extend .server-banner;
    background-image: url("../images/content/010/bg.jpg");
}
.content-banner-011{
    @extend .server-banner;
    background-image: url("../images/content/011/bg.jpg");
}
.content-banner-012{
    @extend .server-banner;
    background-image: url("../images/content/012/bg.jpg");
}
.content-banner-013{
    @extend .server-banner;
    background-image: url("../images/content/013/bg.jpg");
}
.content-banner-014{
    @extend .server-banner;
    background-image: url("../images/content/014/bg.jpg");
}
.content-banner-015{
    @extend .server-banner;
    background-image: url("../images/content/015/bg.jpg");
}
.content-div{
    position: relative;
    margin-top: -20px;
    padding-top: 20px;
    background-color: #f8f8f8;
    h1{
        line-height: 30px;
        font-size: 24px;
        text-align: center;
    }
    img{
        width: 100%;
        vertical-align: middle;
    }
    @media screen and (max-width: 800px){
        margin-top: 0;
    }
}
.summary{
    img{
        width: 100%;
    }
    p{
        margin-top: 20px;
        border-left: #70b94c solid 4px;
        padding-left: 10px;
        color: #999;
    }
    @media screen and (max-width: 800px){
        padding: 0 15px;
    }
}
.about-list{
    @include clearfix;
    li{
        float: left;
        margin-top: 40px;
        width: 33.3%;
        font-size: 16px;
        text-align: center;
        i{
            margin-bottom: 10px;
        }
        p{
            line-height: 25px;
        }
    }
    @media screen and (max-width: 800px){
        margin-bottom: 40px;
        li{
            width: 100%;
        }
    }
}